flows.json
[{"id":"41fc9e7f.94ad1","type":"tab","label":"Customer Helpdesk","disabled":false,"info":""},{"id":"bebc1abe.8e7538","type":"ui_form","z":"41fc9e7f.94ad1","name":"","label":"","group":"da2c2e37.b4717","order":1,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":170,"y":300,"wires":[["66ac7919.b2c058"]]},{"id":"919534e5.a9e938","type":"watson-conversation-v1","z":"41fc9e7f.94ad1","name":"Customer Care","workspaceid":"4ff9ee72-4c20-45b5-8a60-3388c09710e2","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":540,"y":160,"wires":[["5023f08a.de94a","ba904276.55de5"]]},{"id":"66ac7919.b2c058","type":"function","z":"41fc9e7f.94ad1","name":"","func":"msg.payload = msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":240,"wires":[["919534e5.a9e938","9658fd6f.2aa37"]]},{"id":"ba904276.55de5","type":"function","z":"41fc9e7f.94ad1","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":240,"wires":[["7f577871.1ffa98"]]},{"id":"5023f08a.de94a","type":"debug","z":"41fc9e7f.94ad1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":80,"wires":[]},{"id":"9658fd6f.2aa37","type":"ui_text","z":"41fc9e7f.94ad1","group":"da2c2e37.b4717","order":2,"width":0,"height":0,"name":"","label":"You :","format":"{{msg.payload}}","layout":"row-left","x":390,"y":360,"wires":[]},{"id":"7f577871.1ffa98","type":"ui_text","z":"41fc9e7f.94ad1","group":"da2c2e37.b4717","order":3,"width":11,"height":3,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"col-center","x":850,"y":320,"wires":[]},{"id":"da2c2e37.b4717","type":"ui_group","z":"","name":"Chatbot","tab":"330cea10.53d346","order":1,"disp":true,"width":11,"collapse":false},{"id":"330cea10.53d346","type":"ui_tab","z":"","name":"Customer Care Helpdesk","icon":"dashboard","disabled":false,"hidden":false}]